<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>  
    <h1>Visualizations Page</h1>
    <p>This is your visualizations page!</p>
    
    <div id="chart"></div>
    <script src="{{ url_for('static', filename='frappe/frappe-charts.min.iife.js') }}"></script>
    <script>
        // JavaScript code to initialize and customize Frappe Chart
        // This code will go here
        
    </script>
</body>
</html>
